.containerCrustTable {
  background-color: white;
  display: flex;
  justify-content: center;
  max-height: 75vh;
  overflow-y: scroll;
}
.crustTable {
  margin-top: 1rem;
  width: 82vw;
}

.btnDeleteCrust {
  width: 2.2rem;
  height: 2.2rem;
  color: white;
}

.crustActionStatusSuccess {
  background-color: white;
  color: green;
}

.crustActionStatusFail {
  background-color: white;
  color: red;
}

.mainFormContainer {
  margin-top: 1rem;
  width: fit-content;
}

.crustForm {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 1rem;
  justify-content: center;
}

.modalEditCrust {
  background-color: gainsboro;
}
