.container {
  display: flex;
  /* border: 1px dotted red; */
  flex-direction: row;
  /* background-color: aliceblue; */
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 100%;
}

.btnRemoveQty {
  background-color: rgb(235, 67, 67);
  color: black;
  height: 1.5rem;
  width: 1.5rem;
  /* border: 2px dotted black; */
}

.qty {
  text-align: center;
  border: 2px solid black;
  width: 2.3rem;
  background-color: aliceblue;
}

.btnAddQty {
  background-color: green;
  color: black;
  height: 1.5rem;
  width: 1.5rem;
}
