.oltable {
}
.olTableHeading {
  width: 5%;
}

.olTableName {
  width: 15%;
}
.olTableEdit {
  width: 8%;
}
.olTableQuantity {
  width: 5%;
}
.olTablePrice {
  width: 8%;
}
.olTableCrust {
  width: 20%;
}
.olTableExtraCheese {
  width: 9%;
}
.olTableTopping {
  width: 30%;
  text-wrap: wrap;
}
/* .olTableEdit {
  width: 5%;
} */
