.orderDisplay {
  width: 40vw;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80%;
}

.orderCart {
  position: fixed;
  top: 6rem;
  width: 38vw;
  margin-top: 3rem;
  height: 80%;
  background-color: ghostwhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.emptyOrderBlock {
  background-color: ghostwhite;
  height: 80%;
  width: 100%;
  text-align: center;
}
.emptyOrderDisplayImage {
  margin-top: -4rem;
  height: 80%;
  width: 100%;
}

.displayOrderLine {
  width: 100%;
  height: 80%;
  overflow-y: scroll;
}

.orderCartPriceNCheckout {
  width: 100%;
  background-color: white;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.price {
  text-align: left;
  color: green;
}
