.App {
  min-height: 100vh;
}

.borderline {
  border: 2px dotted blue;
}

/*=======================> Header css =========================*/

.header {
  /* border: 2px dotted black; */
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  /* z-index: 1; */
}
/*======= Menu display css =========================*/
#menu {
  position: fixed;
  top: 4rem;
  left: 0;
  right: 0;
  /* z-index: 1; */
  background-color: aliceblue;
}

/*=============================== Content Display css =========================*/

.contentDisplay {
  /* background-color: green; */
  border: 2px solid green;
  min-height: 84vh;
  margin-top: 7.5rem;
  display: flex;
  flex-direction: row;
}

/*=============================== Pizza Display css =========================*/

.pizzaDisplay {
  border: 3px dotted black;
  min-height: 84vh;
  width: 60vw;
}

.pizzaCardsFlexBox {
  /* border: 2px dotted red; */
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 1.5rem;
  background-color: ghostwhite;
}

.sides {
  min-height: 300px;
}
